.header__title {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: $black;

  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 60px;
}

.header__title_white {
  color: $white;
}
