.statement__paragraph_medium {
  margin-bottom: 20px;
}

.statement__paragraph_large {
  margin-bottom: 40px;
}

.statement {
  margin-left: 180px;
  margin-right: 180px;
}

.statement__title {
  padding-top: 155px;
  padding-bottom: 50px;
  text-align: center;
}

.statement__subtitle {
  font-family: "NeuzeitS-Book", "Arial", sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #000000;
}

.statement__text {
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.statement__list {
  padding-left: 15px;
  color: #000000;
}
