.variability__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $white;
  margin-bottom: 30px;
}

.variability__container {
  text-align: center;
  background-image: url("../../img/variability.jpg");
  background-position: center;
  background-color: #bc9b88;
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px;
}

.variability__title {
  padding-top: 256px;
  margin-bottom: 30px;
}
